ul {
	background: #fff;

	li {
		display: flex;
		align-items: center;
		gap: 0.4rem;
		height: 3.2rem;
		padding: 0 10px;
		line-height: 1.6;
		border: 1px dotted #ddd;
		background: #f9f9f9;
		margin: 8px 0;
		border-radius: 0.4rem;
		&.edit {
			background: #fff;
			border: 1px solid rgba(2, 169, 238, 0.5);
		}
		&.selected {
			background: #ddd;
			border: 1px dotted #ccc;
		}

		.check-true + label {
			text-decoration: line-through;
			color: #999;
		}

		label {
			flex-grow: 1;
			word-break: break-all;
		}
		.edit-input {
			flex-grow: 1;
			border: none;
			background: none;
			outline: none;
			height: calc(100% - 0.8rem);
		}
		.btn-group {
			display: flex;
			align-items: center;
			gap: 0.4rem;
			button {
				width: 1.6rem;
				height: 1.6rem;
				background-color: #fff;
				border: none;

				border-radius: 50%;
				cursor: pointer;
				position: relative;

				// 삭제버튼
				&.btn-delete {
					border: 1px solid rgba(255, 99, 71, 0.4);
					background: #fff url(../img/delete.svg) no-repeat 50% 50% / 1rem;
				}

				&.btn-modify {
					border: 1px solid rgba(0, 0, 0, 0.2);
					background: #fff url(../img/edit.svg) no-repeat 50% 50% / 1rem;
				}
				&.btn-apply {
					border: 1px solid rgba(2, 169, 238, 0.3);
					background: #fff url(../img/check.svg) no-repeat 50% 50% / 1rem;
				}
			}
		}
	}
}
